@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --background: #131415;
  --yelow: #ffa400;
  --red: #fc2933;
  --white: #ffffff;
  --buttom: linear-gradient(
    90deg,
    rgba(255, 161, 0, 1) 36%,
    rgba(251, 16, 61, 1) 68%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: var(--white);
}

body {
  background-color: #131415;
}

/* Estilos de "Los más populares"*/

/* Contenedor padre */
.mas-populares {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}

/*  */
.mr-pit,
.q-jamone,
.charly-garcia,
.maradona,
.picantovich,
.hasbulla,
.messi,
.nick-gi {
  display: flex;
  flex-direction: column;
  background-color: #252525;
  gap: 8px;
  width: 282px;
  height: 213px;
  border-radius: 15px;
  margin: 10px;
  padding: 20px;
  }

.mas-populares h3 {
font-size: 15px;
font-weight: 500;
}

.mas-populares p {
  font-size: 14px;
  font-weight: 400px;
  letter-spacing: 0.5px;
  opacity: 0.3;
}

.mas-populares span {
  font-size: 19px;
  font-weight: 700; 
  background: linear-gradient(to right, #ffa100, #fb103d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.mas-populares button {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 17.5px;
  border: none;
  padding: 5px 18px;
  background: linear-gradient(to right, #ffa100, #fb103d);
}

.precio-button {
  display: flex;
  align-items: center;
  justify-content: space-between;



}